@model MVCThing.ViewModel.PlayerDetailViewModel

@{
    ViewData["Title"] = "Player Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    @{
        Html.RenderPartial("PlayerDetails", Model.Player);
    }

</div>
<div>
    <h3>Played Games</h3>
    <partial class="panel-body">
        @{
            Html.RenderPartial("../Games/GameDetails", Model.PlayedGames);
        }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Player.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
