<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IGameContract1" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/Service/Service" binding="wsDualHttpBinding"
          bindingConfiguration="WSDualHttpBinding_IGameContract1" contract="ServiceReference1.IGameContract" endpointConfiguration=""
          name="WSDualHttpBinding_IGameContract1">
        <identity>
          <userPrincipalName value="DESKTOP-1MQMP42\messe" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
